html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1{ font-size:30px;}
body {
	line-height: 1; font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; font-size:14px; color:#fff;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
h1,h2,h3,h4{ margin:10px 0px; color: #3068a0;}
 h2{margin-bottom: 8px;font-size: 22px;}
h2 a{ color: #3068a0; font-weight:bold;
font-size: 17px;
line-height: 22px;}
h2 a:hover{ text-decoration:none; color:#0F5398;}
p{ line-height:20px; color:#333;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
strong{font-weight: bold; color:#4b4590;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{ padding:10px 0px;}
.add img{
  width: 100%;
  height: auto;
  margin: 0 0 10px;
}
.header > .add img{
  float: right;
}
.logo {padding-top: 25px;}
.right img{float:right;}
.title {background: #f5f4e9;
border: 1px solid #dbd9c8;}
.title h2{ color:#3068a0; font-wight:bold; font-size:18px; margin-left:10px;}
.title h2 span a{float:right; margin-right:10px; font-size:12px; margin-top: 5px;}
.news_blog{
padding-bottom: 8px;
margin-bottom: 10px;
color: #333333;
line-height: 20px;}
.news_blog img{margin:5px 5px 0 0; vertical-align: middle; float: left; padding-bottom: 15px;}
.news_blog h3 a{
  color: #3068a0;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
}
.blog_even{margin-bottom: 10px; padding-bottom: 15px;}
.blog_even img{ width: 100%; margin-bottom: 10px;}
.interview_blog img{ width: 100%; margin-bottom: 10px;}
.interview_blog p img{ width: 60px; height: 60px; margin:0 10px 10px 0;}
.news_blog p{text-align: justify;}
.interview_blog{background:#e1f1ff; margin-bottom: 10px; padding-bottom: 15px;}
.interview_left{ width:300px; height: auto; overflow:hidden; margin-bottom:15px; float:left; margin:10px;}
.interview_left img{ width:100%;}
.interview_blog ul{margin-top:15px;}
.interview_blog ul li a{padding:5px 0px; display:block;}
.interview_blog ul li a:hover{ text-decoration: none;}
.video img{ width:100%; height:auto;}
.caption p{ text-align: center;}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width:  100% !important;display:block;z-index:2000;position:relative}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe  span[style] {width: 100% !important;display:block;z-index:2000;position:relative}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#twitter-widget-0{
   width: 100% !important;
}
.clear{ clear:both;}
footer{background:#007abe; padding:10px 0px; margin-top:15px;}

.footer{ background:#eeeced; padding:10px 0px;}
.footer_nav p{ color:#fff; line-height:18px; margin-top:10px;}
.footer_nav p a{ color:#f1f1f1;}
.footer_nav ul{ list-style:none;}
.footer_nav ul li{ float:left;}
.footer_nav ul li a{ padding:2px; color:#fff;}
.box{ padding:10px 0px; background:#5FA7CF;}
.box ul li{ line-height:22px; color:#fff;}
.box ul li a{color:#fff;}
/* line 7, ../sass/lightbox.sass */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}
/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}
/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}
/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}
/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}
/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}
/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}
/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat;
}
/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat;
}
/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}
.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}
.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}
/* Effect 3: Scale up */
.grid.effect-3 li.animate {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	-moz-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}
@-webkit-keyframes scaleUp {
	to { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes scaleUp {
	to { -moz-transform: scale(1); opacity: 1; }
}
@keyframes scaleUp {
	to { transform: scale(1); opacity: 1; }
}
/* Basic jQuery Slider essential styles */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden;}
li.bjqs-slide{position:absolute; display:none;}
li.bjqs-slide img{widht:100%; height:auto;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0; display:none;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0; display:none;}
ol.bjqs-markers{list-style: none; padding: 0; margin-top: 10px; width:100%;}
ol.bjqs-markers.h-centered{text-align: left;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:100%;margin:0;padding:2%;bottom:0;position:absolute;}
#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}
ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}
ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}
ol.bjqs-markers li a{
	padding:3px 7px;
	background:#000;
	color:#fff;
	margin:1px;
	text-decoration: none;
}
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}
p.bjqs-caption{
	 background-color: rgba(100, 100, 100, 0.5); margin:top:20px; color:#fff;
}
.bannernews{ background:#f1f1f1;}
#slideradd{ padding:15px 0px; clear:both; }
.addlist img{
  width: 100%;
  height: auto;
}
.noleft{padding-left: 0 !important;}
.noright{padding-right: 0!important;}
.fulladd img{width: 100%;height: auto;}
.video .col-lg-3:first-child{padding-left: 0 !important;}
.video .col-lg-3:last-child{padding-right: 0 !important;}